.productPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    margin-top: 20px;
  }

  .card-img-top {
    height: 300px;
  }
}

.detiled {
  display: flex;
  flex-direction: column;
  margin: 1.4rem;

  .description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .detText {
      width: 70%;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }

  .btn {
    margin-top: 3rem;
    align-self: flex-start;
  }
}

.detiledBtns {
  display: flex;
  justify-content: space-between;
}

.comments {
  display: flex;
  align-items: center;
  margin: 0 1.4rem;

  img {
    width: 3rem;
    height: 3rem;
    align-self: flex-start;
  }

  .commentsText {
    width: 100%;
    padding: 5px;
    margin: 0;

    p {
      margin: 0;

      strong {
        color: rgb(56, 88, 152);
      }
    }
  }
}

.comDate {
  margin-left: 4.4rem;
  p {
    font-size: 0.8rem;
    font-weight: bold;
  }
}
