.productPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    margin-top: 20px;
  }

  .card-img-top {
    height: 300px;
  }
}

.detiled {
  display: flex;
  flex-direction: column;
  margin: 1.4rem;

  .description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .detText {
      width: 70%;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }

  .btn {
    margin-top: 3rem;
    align-self: flex-start;
  }
}

.detiledBtns {
  display: flex;
  justify-content: space-between;
}

.comments {
  display: flex;
  align-items: center;

  img {
    width: 1.4rem;
    height: 1.4rem;
  }

  .commentsText{
    padding: 0;
    margin: 0;

    p{
      margin:0;
    }
  }
}

.comDate {

  p {
    font-size: 0.8rem;
  }
}
